<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,1986},{40,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,100}</string>
			</dict>
			<key>blackround.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,105},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>bluebtn.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,209},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>boardbase.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1243,163},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>box.png</key>
			<dict>
				<key>frame</key>
				<string>{{1962,86},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>checkbox-base.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1321},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>checkbox-check.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,1321},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1962,168},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,1908},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>defaultpic.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1552},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>flatalizarin1.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,1},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatalizarin2.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,113},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatblack1.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1688,163},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatblack2.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,217},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatblue1.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,321},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatblue2.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1243,275},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatbrown1.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,225},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatbrown2.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1688,275},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatcream1.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1569,363},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatcream2.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,329},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatfbblue1.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,433},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatfbblue2.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,441},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatgreen1.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,545},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatgreen2.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,727},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatgrey1.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,839},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatgrey2.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1243,387},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatpome1.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1243,499},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatpome2.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,657},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatwhite.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,951},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatyellow1.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,1063},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>flatyellow2.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,1175},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>greenbtn.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,769},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>greybtn.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1253,611},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>marke.png</key>
			<dict>
				<key>frame</key>
				<string>{{1588,199},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>metalbtn.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,881},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>pointer.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1714},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>
			<key>popupbase.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1356,723},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>popuptop.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,553},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>redbtn.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,993},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>roundbtnalizarin.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,1105},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>roundbtnblack.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1384,1217},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>roundbtnblue.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1384,1329},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>roundbtncream.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,1441},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>roundbtnfbblue.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,835},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>roundbtngrey.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,947},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>roundbtnwhite.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1455,1059},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>roundbtnyellow.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1468,665},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>spinner.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,115},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>star.png</key>
			<dict>
				<key>frame</key>
				<string>{{1588,281},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>tab-base.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1477,553},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>tab-open.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,777},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>triangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1829},{120,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,240}</string>
			</dict>
			<key>turnpointer.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1945},{160,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,100}</string>
			</dict>
			<key>wood.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,665},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>xp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1622},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>xp-xl.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,1562},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>best.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,1483},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>boardbase2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{602,1135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{602,1135}</string>
			</dict>
			<key>button1.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1138},{422,422}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,422}</string>
			</dict>
			<key>button2.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1},{422,422}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,422}</string>
			</dict>
			<key>button3.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,425},{422,422}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,422}</string>
			</dict>
			<key>centretab.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1562},{265,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{265,234}</string>
			</dict>
			<key>crown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,1},{121,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,102}</string>
			</dict>
			<key>fbglossy-mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,1714},{70,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,102}</string>
			</dict>
			<key>fbglossy-side.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1986},{51,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,102}</string>
			</dict>
			<key>gamelogo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1138},{814,309}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{814,309}</string>
			</dict>
			<key>gem.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,1},{112,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,100}</string>
			</dict>
			<key>greenglossy-mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{1588,95},{70,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,102}</string>
			</dict>
			<key>greenglossy-side.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1986},{51,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,102}</string>
			</dict>
			<key>icon-exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,1043},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>icon-facebook.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,217},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>icon-fast.png</key>
			<dict>
				<key>frame</key>
				<string>{{1060,1298},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>icon-share.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,319},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>icon-twitter.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,421},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>icon-whatsapp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,523},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>infoglossy-mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,1},{70,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,102}</string>
			</dict>
			<key>infoglossy-side.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,1986},{51,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,102}</string>
			</dict>
			<key>player.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,1622},{122,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,120}</string>
			</dict>
			<key>pop-edge.png</key>
			<dict>
				<key>frame</key>
				<string>{{1962,1},{84,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,83}</string>
			</dict>
			<key>pop-header-mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,1205},{91,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,174}</string>
			</dict>
			<key>pop-header-side.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1483},{67,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,174}</string>
			</dict>
			<key>pop-right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1954},{30,933}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,933}</string>
			</dict>
			<key>pop-top.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1986},{157,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,31}</string>
			</dict>
			<key>redglossy-mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,105},{70,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,102}</string>
			</dict>
			<key>redglossy-side.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,1986},{51,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,102}</string>
			</dict>
			<key>sunflowerglossy-mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,163},{70,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,102}</string>
			</dict>
			<key>sunflowerglossy-side.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,1986},{51,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,102}</string>
			</dict>
			<key>tabicon-fb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1588,1},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>tabicon-setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,889},{106,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,105}</string>
			</dict>
			<key>tabicon-shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,1205},{151,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,109}</string>
			</dict>
			<key>tabother.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1083},{236,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,164}</string>
			</dict>
			<key>top.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,849},{179,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,192}</string>
			</dict>
			<key>icon-fb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,625},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>turn.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,849},{232,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,182}</string>
			</dict>
			<key>chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,1460},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{1222,1298},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>gift-car.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,1622},{157,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,89}</string>
			</dict>
			<key>gift-chai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,1920},{142,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,117}</string>
			</dict>
			<key>gift-heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1276,1460},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>gift-knife.png</key>
			<dict>
				<key>frame</key>
				<string>{{1264,1746},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>gift-ring.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,1774},{144,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,125}</string>
			</dict>
			<key>gift-rose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,1713},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>gift-tomato.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,1875},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>gift-wine.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,849},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>gift-kiss.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,1645},{148,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,127}</string>
			</dict>
			<key>gift-moustache.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,1928},{160,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,104}</string>
			</dict>
			<key>gift-punch.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,1796},{147,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,136}</string>
			</dict>
			<key>gift-syringe.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,1804},{139,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,146}</string>
			</dict>
			<key>icon-rateus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,1011},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>gift-grenade.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,1804},{130,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,160}</string>
			</dict>
			<key>icon-cart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1589,475},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>activity.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,1786},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>gamecenter.png</key>
			<dict>
				<key>frame</key>
				<string>{{1688,1},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>playservice.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,1},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common.png</string>
			<key>realTextureFileName</key>
			<string>common.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>